<table>
	<%= form_for @team  do |f| %>
	<tr>
		<td>Team:</td>
		<td><%= f.text_field :name %></td>
	</tr>
	<tr>
		<td>Date Range Start: </td>
		<td ><%= text_field_tag( , :class => 'datepicker'%></td>
	</tr>
	<tr>
		<td>Date RangeEnd: </td>
		<td ><input type="text" class="datepicker" /></td>
	</tr>
	  <tr><td><%= f.submit %></td></tr>
	<% end %>
</table>