/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

*{
    font-family: sans-serif;
}
.ui-slider{
    width: 200px;
}


.game_tickets{
  background: white;
  width: 300px;
  height: auto;
  float: left;
  background-size: 100% 100%;
  background-position: left;
  background-repeat: no-repeat;
  margin: 20px;
  box-shadow: 0px 0px 9px rgba(50, 50, 50, 1);
  overflow: hidden;
  padding: 5px;
  border-radius: 10px;
}

.top{
  float: left;
  height: 320px;
  width: 100%;
}

.date{
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

.home_logo{
  margin-top: 30px;
  margin-left: 5px;
  float: left;
  width: 120px;
  height: 120px;
}

.opponent_logo{
  margin-top: 30px;
  margin-right: 5px;
  float:right;
  width: 120px;
  height: 120px;
}

.bottom{
  width: 100%;
  float: left;
}

.middle{
  margin-top: 20px;
  width: 100%;
  float: left;
}

.purchase{
margin-top: 10px;
}

.ticket_info{
  width: 100%;
  margin-left: 20px;
}

.ticket_info> td{
  margin: 10px;
  text-align: center;
}

.ticket_info_desc>td{
  font-weight: bold;
}


.ticket_rating{
  margin-top: 20px;
  font-size: 20px;
  float: left;
  width: 100%;
  margin-left: 40px;
}

.ticket_rating > div{
  float: left;
  width: 100%;
  padding: 5px;
}

.main_content{
  background: url('dust.png');
  margin-top: -20px;
  min-height: 1000px;
  padding: 20px;
}

