<div class="update_tickets_loader_div">
	<h1 style="color: #F3F3F3; font-size: 50px; margin-bottom: 10%; margin-top: 5%; margin-left: -5%; background: transparent">
		Updating Tickets...
	</h1>
	<%= image_tag "ajax-loader.gif", :style=> "margin-left: -10%" %>
</div>
<% counter = 0 %>
<% if @games.length == 0 %>
	<h1 style="color: #C13B36; background:transparent"> Sorry, no tickets were found </h1>
<% else %>
	<div class="row-fluid">
	<% @games.each do |game|  %>
		<% @game = game %>
		<% @game_data = @game.view_game_data(@price_min, @price_max, @number) %>
		<% if @game_data %>
			<% unless @game_data[:best_ticket]['section_id'].nil? %>
				<% counter += 1 %>
				<div class="ticket_spacer span3" style="margin-left: 0%; margin-right: 0%;">			
					<div id="<%= @game[:id]%>" class="ticket_partial_div span10">
							<%= render :partial => "ticket", :locals => {:game => @game, :game_data => @game_data, :price_min => @price_min, :price_max => @price_max, :number => @number} %>				
					</div>	
				</div>	
			<% end %>
		<% end %>
	<% end %>
	</div>
	
	<% if counter == 0 %>
		<h1 style="color: #C13B36"> Sorry, no games were found </h1>
	<% end %>
<% end %>