<div class="primary_logo" style="font-size: 500%; margin-top: 5%; margin-bottom: 20%; text-align: center; color: #FF4A56; background: transparent; text-shadow: 2px 2px black;">
	TICKETBRAINS<small style= "color: #9CB6CB" >beta</small>
</div>
<div class="new_search">
	<div class="row-fluid">
		<div class="new_search_div">
			<div class="span10 offset2">
			<%= form_for @search, :method => 'get', :html => {:class => "form-search", :ready => 'false'} do |f| %>
				<div class="span9">
					<%= f.text_field :team, :placeholder => "Enter a Team Name to Begin", :class => "span12 search", :style => "height: 40px; font-size: 30px; line-height: 40px;" %>
					<%= f.submit "Find Tickets!", :class => "btn-large btn-inverse update_team_button", :style => "visibility: hidden; margin-top: 2%" %>
				<% end %>
				</div>
			</div>		
		</div>
		<div id="ajax_loader_div" class="span5 offset3" style="text-align: center; display: none;">
			<h1 style="color: #3E3E3E; font-size: 50px; margin-bottom: 5%; background: transparent">Finding Tickets...</h1>
			<%= image_tag "ajax-loader.gif" %>
		</div>
	</div>
</div>