<div class="new_search">
<div class="row-fluid">
  <div class="span9 offset3"><%= form_for @search, :method => 'get', :remote => true, :html => {:class => "form-search"} do |f| %>
<div class="control-group">
	<div class="controls">
	<%= f.text_field :team, :placeholder => "Enter a Team Name to Begin", :class => "input-xxlarge search-query", :style => "height: 50px; font-size: 30px; line-height: 36px;" %>
	</div>
</div>
	<%= f.submit "Find Tickets!", :class => 'btn btn-inverse', :style => "float: left;" %>
<% end %></div>
</div>
</div>

