<div class="primary_logo row-fluid span12" style="font-size: 650%; margin-top: 5%; margin-bottom: 5%; text-align: center; color: #FF4A56; background: transparent; text-shadow: 2px 2px black;">
	TICKETBRAINS<small style= "color: #9CB6CB; font-size: 60%; font-family: sans-serif; font-weight: bold" >beta</small>
</div>
<div class="new_search">
	<div class="row-fluid">
		<div class="new_search_div">
			<div class="span10 offset2">
			<%= form_for @search, :method => 'get', :html => {:class => "form-search", :ready => 'false'} do |f| %>
				<div class="span9" style="margin-top: 10%">
					<%= f.text_field :team, :placeholder => "Enter a Team Name to Begin", :class => "span12 search", :style => "height: 42px; font-size: 30px; line-height: 42px;" %>
					<%= f.submit "Find Tickets!", :class => "btn-large btn-inverse update_team_button", :style => "visibility: block; margin-top: 5%" %>
				<% end %>
				</div>
			</div>		
		</div>
		<div class="row-fluid span12">
			<div class="explanation_div span12" style="margin-bottom: 5%; margin-top: 5%">
				<h1 style= "color: #4B474B; background: transparent">Why Ticketbrains? </h1>
				<div class="explanation_text_top span12">
						<div class="span4">
							<h4>Buying Tickets For Sporting Events Sucks.</h3>
							Everyone wants a good deal, but none of the major ticket marketplaces share any useful pricing data with their users.
						</div>
						<div class="span4">
							<h4>Big Data</h4>
							We analyze thousands of tickets per event, do all the math we know you don't want to do, and provide you with the best deals.
						</div>
						<div class="span4">
							<h4>We're Sports Fans</h4>
							We actually take into account the quality of the game before determining a ticket's true value
						</div>
				</div>
				<div class="explanation_text_bottom span12">
						<div class="span6">
							<h4>Our Algorithm Works</h4> 
							We filter out absurdly priced tickets that skew other services' data...  Our average ticket prices reflect  tickets that actually have a shot at being sold... not the tickets worth $20 dollars that are being listed for $2,000 on other websites.
						</div>
						<div class="span6">
							<h4>Its Free!</h4>
							All of our listings provide links to trusted ticket resellers such as Stubhub, and we charge no additional fees.
						</div>
				</div>
				<!-- <div class="explanation_disclaimer">
							<p>NOTE: Ticketbrains currently only provides listings for NBA games, but other leagues and events will be supported in the near future.</p> -->
				</div>
			</div>
		</div>
	</div>
</div>