/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

*{
    font-family: sans-serif;
}
.ui-slider{
    width: 70%;
}


#slider_div{
  width: 70%;
  height: 15px;
}

#amount_min{
  float: left;
  color: grey;
  position: relative;
  top: -20px;
  margin-left: 5px;
}

#amount_max{
  float: right;
  color: grey;
  position: relative;
  top: -20px;
  margin-right: 30%;
}

.form-horizontal{
  float: left;
}

.team_info_div{
  float: left;
  font-size: 16pt;
}

.tickets{
  float: left;
  margin-top: -10px;
}

.game_tickets{
  background: white;
  width: 200px;
  height: 320px;
  float: left;
  background-size: 100% 100%;
  background-position: left;
  background-repeat: no-repeat;
  margin: 10px;
  box-shadow: 0px 0px 9px rgba(50, 50, 50, 1);
  overflow: hidden;
  padding: 10px;
  border-radius: 4px;
}

.top{
  float: left;
  height: 200px;
  width: 100%;
}

.seat_view_div{
  float: right;
}

.date{
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  width: 150px;
  float: left;
}

.home_logo{
  margin-top: 30px;
  margin-left: 5px;
  float: left;
  width: 60px;
  height: 60px;
}

.opponent_logo{
  margin-top: 30px;
  margin-right: 5px;
  float:right;
  width: 60px;
  height: 60px;
}

.bottom{
  width: 100%;
  float: left;
}

.middle{
  margin-top: 10px;
  width: 100%;
  float: left;
}

.purchase{
margin-top: 5px;
}

.ticket_info{
  width: 100%;
  margin-left: 10px;
  margin-top: 25px;
}

.ticket_info> td{
  margin: 5px;
  text-align: center;
}

.ticket_info_desc>td{
  font-weight: bold;
}


.ticket_rating{
  margin-top: 10px;
  font-size: 12px;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

.ticket_rating > div{
  float: left;
  width: 100%;
  padding: 2px;
}

.main_content{
  background: url('dust.png');
  margin-top: -20px;
  min-height: 1500px;
  padding: 20px;
}


.popover.fade{
  width: 300px;
  height: 280px;
}

.popover-inner{
  width: 300px;
  height: 280px;


}
.popover-content{
  width: 275px;
  height: 220px;
}

.img-rounded{
  width: 100%;
  height: 100%;
}

.popover-with-html{
  float: right;
}

.progress{
  width: 38%;
  display: none;
  float: left;
  margin-left: 10px;
}

.search_form_div{
  height: 220px;
}

.results{
  float: left;
  margin-top: 25px;
}

.ticket_info_values{
  font-size: 14px;
}

.ticket_info_desc{
  font-size: 14px;
}



