/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 
 *= require jquery.ui.slider
 *= require 'font-awesome'
 *= require token-input
 *= require_self   
 *= require jquery.ui.datepicker
 *= require_tree .
 */

.primary_logo{
	font-family: 'Bowlby One SC', cursive;
}
#slider_div{
  width: 100%;
  height: 15px;
}

#amount_min{
  float: left;
  color: grey;
  position: relative;
  top: -20px;
  margin-left: 5px;
  font-size: 12pt;
}

#amount_max{
  float: right;
  color: grey;
  position: relative;
  top: -20px;
  margin-right: 5px;
  font-size: 12pt;
}

.team_info_div{
  font-size: 16pt;
}


.game_tickets{
	background-size:  100% 100%;
	background-position: left;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 9px rgba(50, 50, 50, 1);
	border-radius: 4px;
	background: #D0D6CE url('ricepaper.png');
	padding-left: 2%;
	padding-right: 2%;	
	max-width: 261px;
	max-height: 450px;
}

.seat_view_div{
  float: right;
}

.date{
  text-align: center;
  font-weight: bold;
}

#outer{
	background: url('background.jpg');
	background-position: center;
	background-size: 100% 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	position: relative;
}


.popover{
	z-index: 1;	
}
.popover.fade{
  width: 300px;
  height: 280px;
}

.popover-inner{
  width: 300px;
  height: 280px;
  
}
.popover-content{
  width: 275px;
  height: 220px;
}

.img-rounded{
  width: 100%;
  height: 100%;
}

.popover-with-html{
  float: right;
}

.search_form_div{
	background: transparent;
	color: #202020;
}

.results_header{
 	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 0px 6px rgba(50, 50, 50, 1);
	padding: 20px;
	margin-bottom: 3%;
}

.results_refine{
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 0px 6px rgba(50, 50, 50, 1);
	margin-bottom: 3%;
}

.results_refine form{
	margin-top: 1%;
}

.results_tickets{
	margin: 0%;
}

.team_info{
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 0px 6px rgba(50, 50, 50, 1);
}

.team_header{
	height: 102%;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 0px 6px rgba(50, 50, 50, 1);
	text-align: center;
	padding-top: 1%;
}

.team_header img{
	margin-bottom: 1%;
}

.next_button{
	border: none;
	background: transparent;
	position: relative;
	margin-top: -200%;
	width: 100%;
}

.previous_button{
	border: none;
	background: transparent;
	position: relative;
	margin-top: -200%;
	width: 100%;
}

#new_team_loader_div{	
	position: absolute;
	background: rgba(1, 1, 1, 0.7);
	display: none;
	text-align: center;
	margin-left: 0px;
	z-index: 1000;
	height: 100%;
	width: 100%;
}

.update_tickets_loader_div{
	position: absolute;
	margin-top: -5%;
	display: none;
	background: rgba(1, 1, 1, 0.7);
	text-align: center;
	z-index: 1000;
	width: 80%;
	height: 100%;
}

.flip_button{
	background: transparent;
	border: none;
	width: 50px;
}

.legend{
  font-size: 14pt;
  color: grey;
  border-radius: 1px;
  padding-top: 1%;  
}

.legend_red{
	margin-top: 10%;
	width: 20px;
	background: #DE3F41;
	height: 10px;
}

.legend_blue{
	margin-top: 10%;
	width: 20px;
 	background: #3647CF;
	height: 10px;
}

.ui-slider-horizontal{
	height: 25px;
}

.ui-slider .ui-slider-handle{
  height: 2em;

}

.ui-slider-range{
	background: #666464;
}

.green_score{
	color: #76996B;
	font-weight: bold;
}

.yellow_score{
	color: #CDDE7D;
	font-weight: bold;
}

.red_score{
	color: #E66360;
	font-weight: bold;
}

.ticket_header{
	background: rgba(0,0,0,0.1); 
	padding: 6%;
	padding-bottom: 2%;
	margin-left: -6%; 
	font-weight: bold;
}

.card-icon{
  color: #666464;
  text-decoration: none;

}

.card-icon:hover{
  color: #353535;
  text-decoration: none;
}

.card-score{
	font-size: 150%;
	font-weight: bold;
	color: #353535
}

ul.token-input-list{
	width: 100%;
	font-size: 28px;
	font-weight: normal;
	font-family: sans-serif;
	border-radius: 5px;
}

.token-input-input-token{
	width: 100%;
	height: 100%;

}

li.token-input-token{
	background: transparent;
	font-weight: normal;
	color: grey;
}

#token-input-tokeninput_search{
	font-size: 100%;
	height: 100%;
}

div.token-input-dropdown{
	font-size: 150%;
	padding-bottom: 1%;
	border-radius: 5px;
	font-weight: normal;
	color: #333;
	font-family: sans-serif;
}

div.token-input-dropdown ul li {
    background-color: #B0BCFF;
    padding: 10px;
    list-style-type: none;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    color: #777;

}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #B0BCFF;
}

li.token-input-selected-token{
    background-color: transparent;
	font-weight: normal;
    color: grey;
}

li.token-input-token p {
    margin: 2px;
}

.seat_view_image{
	background: #EBE5CE;
	padding: 2pt;
	box-shadow: 0px 0px 9px black;
	border-radius: 2px;
}
.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #EBE5CE;
	margin-left: -3pt;
	margin-top: 1pt;
}

.explanation_div{
	padding-right: 4%;
	padding-bottom: 1%;
	background: rgba(255, 250, 250,.7);
	border-radius: 2px;
	font-size: 10pt;
	box-shadow: 0px 0px 9px black;
	font-family: 'Scada', sans-serif;
}

.explanation_div h4{
	font-size: 14pt;
}

.loader_div{
	color: #F3F3F3; 
	font-size: 60px; 
	font-weight: bold; 
	margin-bottom: 10%; 
	margin-top: 10%; 
	text-align: center;
}